*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    width: 100%;
    min-width: 1140px;
    min-height: 940px;
}
body{
    background: url("../img/background.jpg") no-repeat;
    height: 100%;
    background-size:100% 100%;
}
p{
    font-family: 'Microsoft YaHei', 'WenQuanYi MicroHei', sans-serif;
}
.container{
    width: 980px;
    height: 720px;
    margin:0 auto;
    position: relative;
    top: 140px;
}
.container .left,.container .right{
    width: 70px;
    height: 70px;
    cursor: pointer;
    position: absolute;
    top: 265px;
}
.left{
    left: -80px;
}
.right{
    right: -80px;
}
.container .displayer{
    width: 980px;
    height: 720px;
    overflow: hidden;
    position: relative;
}
.container .displayer .rotator {
    width: 2940px;
    height: 720px;
    position: relative;
    left: 0;
}
#wall{
    width: 900px;
    height: 560px;
    background-color: rgba(256,256,256,0.3);
    margin: 0 auto;
    padding: 20px;
    position: relative;
}
#barrage{
    position: relative;
    z-index: 200;
    width: 940px;
    height: 600px;
    margin:0 auto;
}
#shadow{
    width: 1070px;
    margin: 0 auto;
    position: relative;
    top: -90px;
    left: -45px;
    z-index: -1;
}
#shadow img{
    width: 1070px;
}
#example_video_1{
  margin: 0 auto;
}

#point{
    position: absolute;
    left: 439px;
    top: 690px;
}
#point li{
    float: left;
    color: #fff;
    font-size: 60px;
    line-height: 20px;
    cursor: pointer;
    height: 20px;
    width: 0;
    margin-left: 40px;
}
#point li:hover{
    color: #ccc;
}















