*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    width: 100%;
    min-width: 980px;
    min-height: 840px;
}
body{
    background: url("../img/background.jpg") no-repeat;
    height: 100%;
    background-size:100% 100%;
}
.container{
    width: 900px;
    height: 600px;
    background-color: rgba(256,256,256,0.3);
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 120px;
}